<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SearchFlickerImages.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D2EAC2A2732A26900069F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D2EAC402732A26B00069F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D2EAC4B2732A26B00069F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
